{% extends "base.html.twig" %}
{% block body %}
    <section class="bg-primary">
        <div class="container">
            <div class="page-title text-white text-center">
                <h2 data-animate="fadeInUp" data-delay="1.2">Modifier Mon Profil</h2>
                <ul class="list-inline" data-animate="fadeInUp" data-delay="1.4">
                    <li>
                        <a href="{{ path('app_home') }}"><i class="fa fa-home"></i>Accueil</a>
                    </li>
                    <li>/</li>
                    <li>
                        <a href="#">Modifier Mon Profil</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="mx-auto col-md-6 col-lg-6 col-6 mt-3 mb-5">
                {{ form_start(EditProfilForm) }}
                    {{ form_row(EditProfilForm.nom) }}
                    {{ form_row(EditProfilForm.prenom) }}
                    {{ form_row(EditProfilForm.adresse) }}
                    {{ form_row(EditProfilForm.email) }}
                    {{ form_row(EditProfilForm.avatar) }}
                    <br>
                    <div class="container text-center">
                        <button type="submit" class="btn btn-block btn-primary">Modifier</button>
                    </div>
                {{ form_end(EditProfilForm) }}
        </div>
    </div>
{% endblock %}